@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Braga<br />
    Portugal<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:tiagodaraujo@gmail.com">tiagodaraujo@gmail.com</a><br />
    <strong>Medium:</strong> <a href="@("https://medium.com/@tiagodaraujo")">@("https://medium.com/@tiagodaraujo")</a><br />
    <strong>GitHub:</strong> <a href="@("https://github.com/tiagodaraujo")">@("https://github.com/tiagodaraujo")</a>
</address>